@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

  
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --txt-colour: #9769c2;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 7, 0, 14;
    --background-end-rgb: 36, 0, 57; 
    /*
    Purple: 14, 6, 31
    Blue: 3, 10, 33
    
    */
  }
}

body {
  background-color: #000000;
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  background-attachment: fixed; */
}

.font-Terminal {
  font-family: 'VT323', monospace;
}